*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}
html{
    font-family: sans-serif;
}
body{
    padding-top: 40px;
}
nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    align-items: center;
}
nav img{
    height: 100%;
}
nav figure{
    height: 25px;
}
#navleft,
#navright{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-inline: 10px;
}
button {
    background-color: transparent;
    /* height: 100%; */
    padding: 5px 10px;
    border: none;
}
button a{
    text-decoration: none;
    color: #686868;
    font-weight: lighter;
}
.blueButton{
    background-color: #0542f9;
}
.blueButton a{
    color: white;
}
header{
    background-color: #a6c5e1;
}
header > div{
    width: 80%;
    margin: 0 auto;
}
#under{
    padding-top: 5%;
}
h1{
    font-size: 60px;
}
#underH1{
    display: flex;
    margin-top: 5%;
    position: relative;
}
#underH1 div > *{
    margin-top: 8%;
}
#underH1 div{
    max-width: 30%;
}
#underH1 svg{
    font-size: 25px;
    margin-block: 5%;
}
#underH1 > figure{
    position: absolute;
    max-width: 60%;
    right: 0;
    bottom: -20%;
}
#underH1 figure img{
    max-width: 100%;
}
main{
    width: 80%;
    margin: 5% auto;
}
#profileType{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#profileType > :last-child{
    width: 100%;
}
#profileType h2{
    width: 100%;
}
#radio{
    width: 100%;
}